<a href="https://colab.research.google.com/github/Rido843/Basic-Python-Programming-for-Data-Science/blob/main/Rido_Trimanto_1800015013_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

**1. Segment dengan profit tertinggi**

In [ ]:
#Melihat Segment Apa Saja Yang Ada
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [ ]:
#Memilih masing-masing segmen
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

In [ ]:
#menentukan segmen dengan profit terbanyak
cons=df_Consumer.profit.sum()
corp=df_Corporate.profit.sum()
ho=df_Home_Office.profit.sum()
if cons>corp>ho:
  print("Segment dengan profit terbanyak adalah consumer dengan profit",cons)
elif corp>ho:
  print("segment dengan profit tertinggi adalah Cortporate dengan profit",corp)
else :
  print("segment dengan profit tertinggi adalah Home ofice dengan profit",ho)

Segment dengan profit terbanyak adalah consumer dengan profit 128959.22080000001

**2. Category dengan sales terbanyak**

In [ ]:
#Melihat Categori Apa Saja Yang Ada
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [ ]:
#Memilih masing-masing category
df_Office_Supplies=df[df['category']=='Office Supplies']
df_Furniture=df[df['category']=='Furniture']
df_Technology=df[df['category']=='Technology']

In [ ]:
office=df_Office_Supplies.sales.sum()
furniture=df_Furniture.sales.sum()
teknologi=df_Technology.sales.sum()
if office>furniture>teknologi:
  print("Category  dengan Sales terbanyak adalah Office supplies dengan jumlah",Office_Supplies)
elif furniture>teknologi:
  print("segment dengan profit tertinggi adalah Furniture dengan profit",furniture)
else :
  print("segment dengan profit tertinggi Technology dengan jumlah",teknologi)

segment dengan profit tertinggi Technology dengan jumlah 755815.72

**3. sub Category dengan quantity paling sedikit**

In [ ]:
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [ ]:
subCategory=df.groupby('sub_category').quantity.sum()
print(subCategory)
jumlah=min(subCategory)
a= subCategory.idxmin()

print("-------------------------------------------")
print("sub category dengan quantity terkecil adalah",a ,"dengan jumlah",jumlah)

sub_category
Accessories    2976
Appliances     1729
Art            3000
Binders        5974
Bookcases       868
Chairs         2356
Copiers         218
Envelopes       906
Fasteners       914
Furnishings    3563
Labels         1400
Machines        429
Paper          5178
Phones         3289
Storage        3158
Supplies        647
Tables         1241
Name: quantity, dtype: int64
-------------------------------------------
sub category dengan quantity terkecil adalah Copiers dengan jumlah 218

**Chalenge**